:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1, 'zero' 1, 'ss01' 1,
        'ss02' 1, 'ss03' 1, 'ss08' 1;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: $main-font, sans-serif;
    }
}

@font-face {
    font-family: $main-font;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/assets/font/" + $main-font + "-Regular.woff2");
}

@font-face {
    font-family: $main-font;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/assets/font/" + $main-font + "-Italic.woff2");
}

/* Fallback font */
@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/font/Inter-Regular.woff2");
 }
