footer {
    clear: both;
    width: 100%;
    height: 1rem;
    padding: 1rem;
    // border-top: 1px $color2 solid;
    text-align: center;
    justify-content: center;
    z-index: 2;

    span {
        margin-left: 1vw;
    }

    .copyright {
        float: left;
    }

    .lang {
        float: right;
        margin-right: 2rem;
        @include hover-animation;
    }
}

select {
    border: none;
    appearance: none;
    font-size: medium;
}
