$bar-width: 40px;
$bar-height: 4px;
$bar-round: 10px;

$handburger-gap: 8px;
$handburger-margin: 12px;
$handburger-height: ($bar-height * 3) + ($handburger-gap * 2);
$handburger-width: $handburger-height * math.sqrt(2);
$animation-timing: 250ms ease-in-out;

$background-color: $color1 + dd;

#handburger {
    display: none;
    *, *::after, *::before {
        box-sizing: border-box;
    }

    #handburger-menu::before,
    #handburger-menu::after,
    #handburger-menu input {
        content: "";
        width: $bar-width;
        height: $bar-height;
        background-color: $color3;
        border-radius: $bar-round;
        transform-origin: left center;
        transition:
            opacity $animation-timing,
            width $animation-timing,
            rotate $animation-timing,
            translate $animation-timing,
            background-color $animation-timing;
    }

    #handburger-menu {
        display: flex;
        flex-direction: column;
        gap: $handburger-gap;
        width: max-content;
        cursor: pointer;
        position: absolute;
        top: $handburger-margin;
        right: $handburger-margin;
        z-index: 2;
    }

    #handburger-menu input {
        appearance: none;
        margin: 0;
        padding: 0;
        outline: none;
        pointer-events: none;
    }

    #handburger-menu:has(input:checked)::before {
        rotate: 45deg;
        width: $handburger-width;
        translate: 0 ($bar-height / -2);
    }

    #handburger-menu:has(input:checked)::after {
        rotate: -45deg;
        width: $handburger-width;
        translate: 0 ($bar-height / 2);
    }

    #handburger-menu input:checked {
        opacity: 0;
        width: 0;
    }

    #menu-overlay {
        display: flex;
        flex-direction: column;
        gap: $handburger-gap;

        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding-top: 1vh;

        overflow-x: clip;
        translate: 0 -100%;
        transition: $animation-timing;
        z-index: 1;
        a {
            font-size: large;
            align-self: center;
            color: $color2;
            padding: 0.2rem;
        }
    }

    #handburger-menu:has(input:checked) + #menu-overlay {
        margin-top: calc($handburger-height + $handburger-margin + 2svh);
        translate: 0 0;
    }
}

.nav-item {
    font-size: larger;
    margin-top: 0.25svh;
    margin-bottom: 0.25svh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

a {
    margin-right: 0.5rem;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // border-bottom: 2px $color2 solid;
    margin-bottom: 1svh;

    padding-top: 1svh;
    padding-bottom: 1svh;
    padding-left: 1vw;
    padding-right: 1vw;
}

@media (max-width: 900px) {
    header {
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media (max-width: 600px) {
    header {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    #nav-bar {
        display: none;
    }

    #handburger {
        display: block;
    }
}
