#page-container {
    margin-top: 1rem;
    margin-bottom: 4rem;
    min-height: 78svh;
    text-align: center;

    .display-img {
        width: 45%;
        padding: 1rem;
    }

    .h1-margin {
        margin-bottom: 25svh;
    }


    h1 {
        color: $color5;
    }

    h2 {
        color: $color4;
    }

    h3 {
        color: $color3;
    }

    section {
        align-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        min-height: 78svh;

        h1 {
            padding: 1rem;
        }

        ul, p {
            margin: 1rem;
            font-size: large;
        }

        table {
            margin: 0 auto;
            font-size: large;
        }

        th {
            padding-bottom: 0.8rem;
            color: $color4;
        }

        td {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .icon {
            width: 1rem;
            padding-right: 0.2rem;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            margin-bottom: 30svh;
        }

        .grid-item {
            padding: 1rem;

            progress {
                width: 8vw;
                height: 1.2rem;
                border-radius: 10px;
                overflow: clip;
                appearance: none;
                -webkit-appearance: none;
            }

            progress::-webkit-progress-bar {
                background-color: #dedbd2;
            }

            progress::-webkit-progress-value {
                background-color: #247ba0;
                border-radius: 10px;
            }

            progress::-moz-progress-bar {
                background-color: #247ba0;
                border-radius: 10px;
            }
        }
    }
}

/* FIXME: There is a bug with SASS that reorder statements in release mode */
/* that breaks this feature. */
/* @supports (animation-timeline: view()) { */
/*     @media (prefers-reduced-motion: no-preference) { */
/*         #page-container { */
/*             section { */
/*                 opacity: 0; */
/*                 animation: section-anim 2s linear forwards; */
/*                 animation-timeline: view(); */
/*             } */
/*         } */
/**/
/*         @keyframes section-anim { */
/*             0% { */
/*                 opacity: 0; */
/*             } */
/*             25% { */
/*                 opacity: 1; */
/*             } */
/*             75% { */
/*                 opacity: 1; */
/*             } */
/*             100% { */
/*                 opacity: 0; */
/*             } */
/*         } */
/*     } */
/* } */
